<div class="form-group">
    <label [for]="for">{{ label }}
        <clr-tooltip *ngIf="tooltip">
            <clr-icon clrTooltipTrigger shape="info-circle" size="24"></clr-icon>
            <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
                <span>{{ tooltip }}</span>
            </clr-tooltip-content>
        </clr-tooltip>
    </label>
    <label [for]="for"
           aria-haspopup="true"
           role="tooltip"
           [class.invalid]="formFieldControl?.touched && !formFieldControl?.valid"
           class="tooltip tooltip-validation tooltip-sm tooltip-top-left">
        <ng-content></ng-content>
        <span class="tooltip-content">
            {{ label }} is required.
        </span>
    </label>
</div>
