@import "variables";

:host {
    display: block;
    .form-group > label:nth-of-type(2) {
        flex: 1;
        max-width: 20rem;

        ::ng-deep > *:not(.tooltip-content) {
            width: 100%;
        }
    }
    .form-group .tooltip-validation {
        height: initial;
    }
    .input-row {
        display: flex;
        ::ng-deep input {
            flex: 1;
            &[readonly] {
                background-color: $color-grey-2;
            }
        }
        button.edit-button {
            margin: 0;
        }
    }
}
