@import "variables";

:host {
    ::ng-deep {
        trix-toolbar {
            top: 24px;
        }
    }
}

.option-groups-list {

}

.group-name {
    padding-right: 6px;
}

.variants-list {

    .variant {
        input {
            width: 100%;
        }
    }
}
