<clr-dropdown>
    <button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
        <clr-icon shape="world"></clr-icon>
        {{ 'common.language' | translate }}: {{ languageCode$ | async | uppercase }}
        <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
        <button type="button"
                *ngFor="let code of availableLanguages$ | async"
                (click)="setLanguage(code)"
                clrDropdownItem>{{ code }}</button>
    </clr-dropdown-menu>
</clr-dropdown>

<form class="form" [formGroup]="productForm" (ngSubmit)="save()">
    <button class="btn btn-primary"
            type="submit"
            [disabled]="productForm.invalid || productForm.pristine">{{ 'common.update' | translate }}</button>

    <section class="form-block" formGroupName="product">
        <label>{{ 'catalog.product' | translate }}</label>
        <vdr-form-field [label]="'catalog.product-name' | translate" for="name">
            <input id="name" type="text" formControlName="name">
        </vdr-form-field>
        <vdr-form-field [label]="'catalog.slug' | translate" for="slug">
            <input id="slug" type="text" formControlName="slug">
        </vdr-form-field>
        <vdr-form-field [label]="'catalog.description' | translate" for="description">
            <textarea id="description" formControlName="description"></textarea>
        </vdr-form-field>
        <vdr-form-item [label]="'catalog.product-option-groups' | translate">
            <div class="option-groups-list">
                <div *ngFor="let optionGroup of (product$ | async)?.optionGroups"
                     class="option-group">
                    <div class="group-name">{{ optionGroup.name }}</div>
                    <button type="button"
                            class="btn remove-option-group"
                            (click)="removeGroup(optionGroup.id)">
                        <clr-icon shape="trash"></clr-icon>
                    </button>
                </div>
                <clr-dropdown>
                    <button type="button" class="btn btn-outline-primary btn-sm" clrDropdownTrigger>
                        <clr-icon shape="add"></clr-icon>
                        {{ 'catalog.add-option-group' | translate }}
                        <clr-icon shape="caret down"></clr-icon>
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
                        <button type="button"
                                clrDropdownItem
                                (click)="addExistingOptionGroup()">{{ 'catalog.add-existing-option-group' | translate }}</button>
                        <button type="button"
                                clrDropdownItem
                                (click)="createNewOptionGroup()">{{ 'catalog.create-new-option-group' | translate }}</button>
                    </clr-dropdown-menu>
                </clr-dropdown>
            </div>
        </vdr-form-item>
    </section>

    <section class="form-block">
        <label>{{ 'catalog.product-variants' | translate }}</label>

        <table class="variants-list table" formArrayName="variants">
            <thead>
            <tr>
                <th>{{ 'catalog.product-variant-table-sku' | translate }}</th>
                <th>{{ 'catalog.product-variant-table-name' | translate }}</th>
                <th>{{ 'catalog.product-variant-table-options' | translate }}</th>
                <th>{{ 'catalog.product-variant-table-price' | translate }}</th>
            </tr>
            </thead>
            <tbody>
            <tr class="variant"
                *ngFor="let variant of variants$ | async; let i = index"
                [formGroupName]="i">
                <td>
                    <input type="text" formControlName="sku">
                </td>
                <td>
                    <input type="text" formControlName="name">
                </td>
                <td>
                    <div *ngFor="let option of variant.options">{{ option.name }}</div>
                </td>
                <td>
                    <input type="number" min="0" formControlName="price">
                </td>
            </tr>
            </tbody>
        </table>

    </section>

</form>
