<clr-dropdown>
    <button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
        <clr-icon shape="world"></clr-icon>
        {{ 'common.language' }}: {{ languageCode$ | async | uppercase }}
        <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
        <button type="button"
                *ngFor="let code of availableLanguages$ | async"
                (click)="setLanguage(code)"
                clrDropdownItem>{{ code }}</button>
    </clr-dropdown-menu>
</clr-dropdown>

<form class="form" [formGroup]="productForm" (ngSubmit)="save()">
    <button class="btn btn-primary"
            type="submit"
            [disabled]="productForm.invalid || productForm.pristine">{{ 'common.update' | translate }}</button>

    <section class="form-block">
        <label>{{ 'catalog.product' | translate }}</label>
        <vdr-form-field [label]="'catalog.product-name' | translate" for="name">
            <input id="name" type="text" formControlName="name">
        </vdr-form-field>
        <vdr-form-field [label]="'catalog.slug' | translate" for="slug">
            <input id="slug" type="text" formControlName="slug">
        </vdr-form-field>
        <vdr-form-field [label]="'catalog.description' | translate" for="description">
            <textarea id="description" formControlName="description"></textarea>
        </vdr-form-field>
    </section>

    <section class="form-block">
        <label>{{ 'catalog.product-variants' | translate }}</label>
    </section>

</form>
