.state-icon {
    margin-right: 3px;
    &.new {
        color: var(--color-warning-700);
    }
    &.approved {
        color: var(--color-success-700);
    }
    &.rejected {
        color: var(--color-error-700);
    }
}
