<vdr-action-bar>
    <vdr-ab-right>
        <!--<a class="btn btn-primary" [routerLink]="['./create']">
            <clr-icon shape="plus"></clr-icon>
            {{ 'catalog.create-new-asset' | translate }}
        </a>-->
        <input type="file" (change)="fileSelected($event)">
    </vdr-ab-right>
</vdr-action-bar>

<vdr-asset-gallery [assets]="items$ | async"
                   [multiSelect]="true"></vdr-asset-gallery>

<div class="paging-controls">
    <div class="form-group">
        <div class="select">
            <select [value]="itemsPerPage$ | async" (change)="setItemsPerPage($event.target.value)">
                <option [value]="10">10 per page</option>
                <option [value]="25">25 per page</option>
                <option [value]="50">50 per page</option>
                <option [value]="100">100 per page</option>
            </select>
        </div>
    </div>

    <vdr-pagination-controls [currentPage]="currentPage$ | async"
                             [itemsPerPage]="itemsPerPage$ | async"
                             [totalItems]="totalItems$ | async"
                             (pageChange)="setPageNumber($event)"></vdr-pagination-controls>
</div>
