@import "variables";

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.file-input {
    display: none;
}

vdr-asset-gallery {
    flex: 1;
}

.paging-controls {
    padding-top: 6px;
    border-top: 1px solid $color-grey-2;
    display: flex;
    justify-content: space-between;
}
