@import "variables";
.test-result {
    &.success .card-block {
        background-color: $color-success-100;
    }
    &.error .card-block {
        background-color: $color-error-100;
    }
    &.unknown .card-block {
        background-color: $color-grey-100;
    }
}
.result-details {
    transition: opacity 0.2s;
    &.stale {
        opacity: 0.5;
    }
}

.eligible-icon {
    display: inline-block;
    .success {
        color: $color-success-500;
    }
    .error {
        color: $color-error-500;
    }
}
.price-row {
    display: flex;
    & > *:not(:first-child) {
        margin-left: 24px;
    }
}
