@import "variables";

:host {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.expand-all-toggle {
    display: block;
    margin-top: 14px;
}

.collection-wrapper {
    display: flex;
    height: 100%;

    vdr-collection-tree {
        flex: 1;
        height: 100%;
        overflow: auto;
    }

    .collection-contents {

        height: 100%;
        width: 0;
        opacity: 0;
        visibility: hidden;
        overflow: auto;
        transition: width 0.3s, opacity 0.2s 0.3s, visibility 0s 0.3s;

        &.expanded {
            width: 30vw;
            visibility: visible;
            opacity: 1;
            padding-left: 12px;
        }

        .close-button {
            margin: 0;
            background: none;
            border: none;
            cursor: pointer;
        }
    }
}

.paging-controls {
    padding-top: 6px;
    border-top: 1px solid $color-grey-200;
    display: flex;
    justify-content: space-between;
}
