<nav class="relative max-w-7xl mx-auto py-6 px-6" aria-label="Breadcrumb">
    <ol class="flex items-center">
        <li>
            <div class="flex items-center space-x-4 mr-4">
                <a href="/"
                   class="text-sm font-medium text-gray-500 hover:text-gray-700">Home</a>
            </div>
        </li>
        {{ range . }}
        <li>
            <div class="flex items-center space-x-4 mr-4">
                <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                     fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                          clip-rule="evenodd"/>
                </svg>
                <a href="{{ .link }}" class="text-sm font-medium text-gray-500 hover:text-gray-700">{{ .label }}</a>
            </div>
        </li>
        {{ end}}

    </ol>
</nav>
