<svg class="absolute hidden lg:block top-0 left-full transform -translate-x-1/2 -translate-y-3/4 lg:left-auto lg:right-full lg:translate-x-full lg:translate-y-1/4"
     width='300' height='300' xmlns='http://www.w3.org/2000/svg'>
  <defs>
    <pattern id='triangles-light' patternUnits='userSpaceOnUse' width='40' height='40'
             patternTransform='scale(1) rotate(0)'>
      <rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 86%, 0)'/>
      <path d='M0 0l10 20L20 0H0zm10 20l10 20 10-20H10z' stroke-width='1' stroke='none'
            fill='hsla(189, 0%, 74%, 0.1)'/>
      <path d='M20 0l10 20L40 0zm10 20l10 20 10-20zm-40 0L0 40l10-20z' stroke-width='1'
            stroke='none' fill='hsla(340, 0%, 72%, 0.1)'/>
    </pattern>
  </defs>
  <rect width='100%' height='100%' transform='translate(0,0)' fill='url(#triangles-light)'/>
</svg>
