@import "variables";

:host {
    ::ng-deep vdr-chip {
        &.PaymentAuthorized, &.PaymentSettled, &.PartiallyFulfilled {
            .wrapper {
                border-color: $color-warning-200;
            }
            .chip-label {
                color: $color-warning-600;
                background-color: $color-warning-100;
            }
        }
        &.Fulfilled {
            .wrapper {
                border-color: $color-success-200;
            }
            .chip-label {
                color: $color-success-600;
                background-color: $color-success-100;
            }
        }
        &.Cancelled {
            .wrapper {
                border-color: $color-error-200;
            }
            .chip-label {
                color: $color-error-600;
                background-color: $color-error-100;
            }
        }
    }
}
