@import "variables";

.article-toc {
    #TableOfContents > ul {
        list-style-type: none;
        padding-left: 0;

        > li > ul {
            list-style-type: disc;
            color: $gray-600;
            > li {
                margin-bottom: $padding-8;
            }
        }
    }
}
