@import "variables";

.posts-list {
    min-height: 50vh;

    h2 {
        font-family: $brand-font-face;
        font-size: 2em;
        font-weight: 400;
    }
    h5 {
        margin-top: -24px;
    }
    p {
        line-height: 1.4em;
    }
}

.blog-post {
    max-width: 800px;
    margin: auto;
    padding: 0 6px;

    header {
        overflow: hidden;
        border-bottom: 1px dashed $gray-300;
        h1 {
            font-family: $brand-font-face;
            font-size: 3em;
            font-weight: 400;
            color: $brand-color;
        }
        .date-author {
            // font-size: 14px;
            color: $gray-700;
        }
    }

    .markdown > p:first-child {
        font-size: 22px;
        color: $gray-700;
    }

    figure {
        img {
            max-width: 100%;
        }
    }
}
