@import "variables";

ul.breadcrumbs {
    list-style-type: none;
    padding: 0;
    font-size: 14px;
    margin: 0;
    li {
        display: inline-block;
        color: $gray-600;
    }
    li + li {
        &:before {
            content: '›';
            margin: 0 3px;
        }
    }

    @media all and (max-width: $sm-breakpoint){
        font-size: 12px;
    }
}
