.graphql-playground-widget {
    width: 100%;
    height: 80vh;
    min-height: 600px;
    background-color: #172b3a;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;

    .loading {
        font-size: 32px;
        font-weight: 200;
        color: rgba(255, 255, 255, .6);
        margin-left: 20px;
    }
    img {
        width: 78px;
        height: 78px;
    }
    .title {
        font-weight: 400;
    }

    iframe {
        width: 100%;
        height: 80vh;
        min-height: 600px;
        border: none;
    }
}
