.book-menu {
    text-transform: capitalize;
    padding-left: 12px;
    .section {
        .section-link {
            display: flex;
            align-items: center;

            .section-icon {
                width: 12px;
                height: 12px;
                transform: rotateZ(90deg);
                opacity: 0.5;
                margin-left: -15px;
                margin-right: 3px;

                &.expanded {
                    transform: rotateZ(180deg);
                }
            }

            a {
                flex: 1;
            }
        }
        > ul {
            max-height: 0px;
            overflow: hidden;

            &.expanded {
                max-height: initial;
                > li:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
