@import "variables";

@mixin code-block {
    padding: 12px;
    font-size: 14px;
    border-radius: 3px;
    overflow-x: auto;
    border: 1px solid $color-code-border;
    color: $color-code-text;
    background-color: $color-code-bg;
    position: relative;
}

@mixin code-block-lang {
    position: absolute;
    right: 3px;
    top: 0;
    font-size: 12px;
    color: $gray-400;
    text-transform: uppercase;
}
