@import "variables";

.autocomplete-wrapper {
    position: relative;
    width: 200px;
    @media all and (max-width: $sm-breakpoint){
        width: 100%;
        padding: 0 6px;
        position: absolute;
        left: 0;
        top: 54px;
        transform: translateY(-200px);
        opacity: 0.5;
        transition: opacity 0.3s, transform 0s;

        .autocomplete {
            display: none;
        }
        &.focus {
            transform: translateY(0);
            opacity: 1;
            .autocomplete {
                display: block;
            }
        }
    }
}

.autocomplete {
    position: absolute;
    background-color: white;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.52);
    border-radius: 4px;
    top: 35px;
    right: 0;
    max-height: 80vh;
    width: 500px;
    overflow: hidden;

    @media all and (max-width: $sm-breakpoint){
        width: 100%;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    li {
        padding: 12px;
        background-color: transparent;
        transition: background-color 0.2s;
        &:hover {
            background-color: $gray-200;
        }
        &.section {
            background-color: $gray-100;
            color: $brand-color;
            font-size: 12px;
        }
        &.selected {
            background-color: $gray-200;
        }
        a {
            display: flex;
            align-items: baseline;
        }
        .title {
            color: $gray-800;
            width: 200px;
            font-size: 12px;
        }
        .heading {
            color: $gray-900;
            .hl {
                background-color: transparentize($brand-color, 0.85);
                color: darken($brand-color, 40%);
            }
        }
    }
}
