@import "variables";

/**
 Alert
 */
.alert {
    border: 1px solid;
    border-radius: 2px;
    padding: 0 12px;

    &.primary { border-color: $color-default; background: transparentize($color-default, 0.9); }
    &.danger { border-color: $color-danger; background: transparentize($color-danger, 0.9); }
    &.warning { border-color: $color-warning; background: transparentize($color-warning, 0.9); }
    &.success { border-color: $color-success; background: transparentize($color-success, 0.9); }
}

/**
 Config option
 */
.member-info {
    display: flex;
    margin-top: -16px;

    .type, .default {
        margin-right: 12px;
    }
    .label{
        display: inline-block;
        color: $gray-700;
    }

    .type-code {
        display: inline-block;
        font-family: 'Oxygen Mono', monospace;
        padding: 0 $padding-4;
        background: $gray-100;
        color: $gray-700;
        border-radius: 4px;
        a:link, a:visited {
            color: darken($brand-color, 20%);
        }
    }

}
