@import "variables";

.alert {
    border: 1px solid;
    border-radius: 2px;
    padding: 0 12px;

    &.primary { border-color: $color-default; background: transparentize($color-default, 0.9); }
    &.danger { border-color: $color-danger; background: transparentize($color-danger, 0.9); }
    &.warning { border-color: $color-warning; background: transparentize($color-warning, 0.9); }
    &.success { border-color: $color-success; background: transparentize($color-success, 0.9); }
}
