@import "variables";
@import "mixins";

/**
 Alert
 */
.alert {
    border: 1px solid;
    border-radius: 2px;
    padding: 0 18px;
    margin-bottom: 12px;

    &.primary { border-color: $color-default; background: transparentize($color-default, 0.9); }
    &.danger { border-color: $color-danger; background: transparentize($color-danger, 0.9); }
    &.warning { border-color: $color-warning; background: transparentize($color-warning, 0.9); }
    &.success { border-color: $color-success; background: transparentize($color-success, 0.9); }
}

/**
 Member info for generated docs
 */
.member-info {
    display: flex;
    align-items: center;
    @media screen and (max-width: $sm-breakpoint) {
        flex-direction: column;
        align-items: flex-start;
    }
    margin-top: -16px;
    margin-left: 8px;
    font-size: $font-size-12;

    .kind-label {
        font-size: $font-size-12;
        background-color: #eaf9f5;
        color: #38979f;
        border-radius: 4px;
        padding: 0 6px;
        margin-right: 12px;
    }

    .type, .default {
        margin-right: 12px;
        a:link, a:visited {
            color: darken($brand-color, 20%);
        }
    }
    .type {
        code {
        }
    }
    .label{
        display: inline-block;
        color: $gray-600;
    }
}

/**
 Member description for generated docs
 */
.member-description {
    margin-top: 3px;
    margin-left: 8px;
    margin-bottom: 32px;
}

/**
 Info on the generated document
 */
.generation-info {
    font-size: $font-size-12;
    margin-top: -18px;
    border-top: 1px dashed $gray-400;
    .label {
        color: $gray-600;
    }
    .file {
        margin-left: 12px;
    }
}

/**
 GraphQL field list
 */
.gql-fields {
    @include code-block;
    font-family: 'Oxygen Mono', monospace;
    &::before {
        content: 'sdl';
        @include code-block-lang;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        font-family: 'Oxygen Mono', monospace;
    }
    em {
        color: #776e71;
    }
    a:link, a:visited {
        color: $brand-color;
    }
}

/**
 GraphQL enum values
 */
.gql-enum-values {
    @include code-block;
    &::before {
        content: 'sdl';
        @include code-block-lang;
    }
    max-height: 80vh;
    overflow-y: auto;
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        font-family: 'Oxygen Mono', monospace;
    }
    em {
        color: #776e71;
    }
}

/**
 Tabs
 */
.tab-container {
    border-left: 2px solid $gray-200;
    padding-left: 6px;
    margin-left: -8px;
    .tab-controls {
        button.tab-control {
            color: $gray-600;
            border: none;
            padding: 3px 6px;
            margin: 0 3px;
            border-bottom: 2px solid transparent;
            background: none;
            &.active {
                border-bottom-color: $brand-color;
                color: $gray-700;
            }
        }
    }
    .tab {
        display: none;
        &.active {
            display: block;
        }
    }
}
