@import "variables";

.top-bar {
    position: fixed;
    padding: 12px 24px;
    background-color: #1e1e1e;
    width: 100%;
    top: 0;
    height: $top-bar-height;
    display: flex;
    align-items: center;
    transition: background-color 0.7s;
    z-index: 10;

    @media all and (max-width: $sm-breakpoint){
        padding: 12px;
    }

    &.landing-page {
        background-color: transparent;
        .right {
            a:link, a:visited {
                color: $gray-700;
            }
            a:hover {
                color: $gray-500;
                text-decoration: none;
            }
        }

        &.floating {
            background-color: #1e1e1e;

            .right {
                a:link, a:visited {
                    color: $gray-400;
                }
                a:hover {
                    color: $gray-100;
                    text-decoration: none;
                }
            }
        }
    }


    .flex-spacer {
        flex: 1;
    }

    .logo {
        img {
            max-width: 32px;
            margin-right: 12px;
        }
        color: $brand-color;
        font-size: 18px;
        font-size: 24px;
        letter-spacing: 0px;
        font-weight: 600;
    }

    .right {
        @media all and (max-width: $sm-breakpoint){
            text-align: right;
        }
        a {
            margin-left: 12px;
        }
        a:link, a:visited {
            color: $gray-400;
        }
        a:hover {
            color: $gray-100;
            text-decoration: none;
        }
    }

    .search-input {
        display: flex;
    }
    #searchInput {
        width: 100%;
        border-radius: 3px;
        border: 1px solid $gray-900;
        padding: 6px 9px;
        background-color: transparentize($gray-300, 0.2);
        color: $gray-900;
        transition: background-color 0.2s;
        margin: 0;

        &:focus {
            background-color: $gray-300;
        }
        @media all and (max-width: $sm-breakpoint){
            background-color: $gray-300;
        }
    }
    button.search-icon {
        background-color: transparent;
        padding: 0;
        margin: 0;
        border: none;
        display: none;
        img {
            width: 24px;
            height: 24px;
        }
        @media all and (max-width: $sm-breakpoint){
            display: block;
        }
    }
}
