@import "variables";
@import "mixins";

:host {
    margin-top: 6px;
    display: block;
    width: 100%;

    ::ng-deep {
        @include ng-select-facet-values;
    }
}

ng-select {
    width: 100%;
    min-width: 300px;
    margin-right: 12px;
}

.search-header {
    padding: 8px 10px;
    border-bottom: 1px solid $color-grey-200;
    cursor: pointer;

    &.selected, &:hover {
        background-color: $color-grey-200;
    }
}
