<vdr-action-bar>
    <vdr-ab-right>
        <a class="btn btn-primary" [routerLink]="['./create']">
            <clr-icon shape="plus"></clr-icon>
            {{ 'admin.create-new-administrator' | translate }}
        </a>
    </vdr-ab-right>
</vdr-action-bar>

<vdr-data-table [items]="items$ | async"
                [itemsPerPage]="itemsPerPage$ | async"
                [totalItems]="totalItems$ | async"
                [currentPage]="currentPage$ | async"
                (pageChange)="setPageNumber($event)"
                (itemsPerPageChange)="setItemsPerPage($event)">
    <vdr-dt-column>{{ 'common.ID' | translate }}</vdr-dt-column>
    <vdr-dt-column>{{ 'admin.first-name' | translate }}</vdr-dt-column>
    <vdr-dt-column>{{ 'admin.last-name' | translate }}</vdr-dt-column>
    <vdr-dt-column>{{ 'admin.email-address' | translate }}</vdr-dt-column>
    <vdr-dt-column></vdr-dt-column>
    <ng-template let-administrator="item">
        <td class="left">{{ administrator.id }}</td>
        <td class="left">{{ administrator.firstName }}</td>
        <td class="left">{{ administrator.lastName }}</td>
        <td class="left">{{ administrator.emailAddress }}</td>
        <td class="right">
            <vdr-table-row-action iconShape="edit"
                                  [label]="'common.edit' | translate"
                                  [linkTo]="['./', administrator.id]">
            </vdr-table-row-action>
        </td>
    </ng-template>
</vdr-data-table>
