body {
    background: var(--body-background);
    background-repeat: no-repeat;
    background-position: top;
}

.menu__link--sublist-caret:after {
    background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
    opacity: 0.6;
}

.menu__link--sublist-caret:hover:after {
    opacity: 1;
}


@media screen and (min-width: 996px) {
    .docs-wrapper article {
        margin-left: 32px;
    }
}

.navbar {
    backdrop-filter: blur(20px);
}

.hero--primary {
    --ifm-hero-background-color: transparent;
    --ifm-hero-text-color: var(--ifm-font-color-base);
}

button.DocSearch-Button {
    border-radius: 6px;
    width: 250px;
    border: 1px solid var(--color-docsearch-border);
}
