<vdr-form-field [label]="label" [for]="customField.name">
    <input
        *ngIf="customField.type === 'string' || customField.type === 'localeString'"
        type="text"
        [id]="customField.name"
        [formControl]="formGroup.get(customField.name)"
    />
    <input
        *ngIf="customField.type === 'int' || customField.type === 'float'"
        type="number"
        [id]="customField.name"
        [formControl]="formGroup.get(customField.name)"
    />
    <clr-toggle-wrapper *ngIf="customField.type === 'boolean'">
        <input
            type="checkbox"
            clrToggle
            [id]="customField.name"
            [formControl]="formGroup.get(customField.name)"
        />
    </clr-toggle-wrapper>
    <input
        *ngIf="customField.type === 'datetime'"
        type="date"
        [id]="customField.name"
        [formControl]="formGroup.get(customField.name)"
        clrDate
    />
</vdr-form-field>
