@import "variables";

:host {
    display: block;
    max-width: 710px;
    margin-bottom: .5rem;
}

trix-editor {
    background-color: white;
    min-height: 128px;
    border: 1px solid $color-grey-300;
    transition: border-color 0.2s;

    &:focus {
        border-color: $color-primary-500 !important;
        box-shadow: 0 0 1px 1px $color-primary-100;
    }
}

::ng-deep trix-toolbar {
    background-color: $color-grey-200;
    padding: 12px 12px 0;
    position: sticky;
    top: -24px;
    z-index: 10;

    &.hidden {
        display: none;
    }
}

label {
    color: #000;
    font-size: .541667rem;
    margin: 0 0 .5rem;
}
