@import "variables";

:host {
    position: relative;
    display: inline-block;
}
.currency-symbol {
    display: flex;
    align-items: center;
    background-color: $color-grey-2;
    position: absolute;
    left: 0;
    top: 1px;
    padding: 3px;
    border-radius: 3px;
    line-height: .58333rem;
}
input {
    max-width: 115px;
    padding-left: 40px;
    line-height: .58333rem;
}
