<div
    cdkDropList
    class="tree-node"
    #dropList
    [cdkDropListData]="categoryTree"
    [cdkDropListDisabled]="true"
    (cdkDropListDropped)="drop($event)"
>
    <div class="category" *ngFor="let category of categoryTree.children" cdkDrag [cdkDragData]="category">
        <div class="category-detail" [ngClass]="'depth-' + depth">
            <div class="name">{{ category.name }}</div>
            <div class="flex-spacer"></div>
            <a class="btn btn-link btn-sm" [routerLink]="['./', category.id]">
                <clr-icon shape="edit"></clr-icon>
                {{ 'common.edit' | translate }}
            </a>
            <!--
                TODO: reenable once it is possible to drop into nested lists. See https://github.com/angular/material2/issues/14093
                <div class="drag-handle" cdkDragHandle>
                    <clr-icon shape="drag-handle" size="24"></clr-icon>
                </div>
            -->
            <clr-dropdown>
                <span class="trigger" clrDropdownTrigger>
                    <clr-icon shape="ellipsis-vertical"></clr-icon>
                </span>
                <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
                    <h4 class="dropdown-header">Move to:</h4>
                    <button
                        type="button"
                        class="dropdown-item"
                        (click)="move(category, item.id)"
                        *ngFor="let item of getMoveListItems(category)"
                    >
                        {{ item.path }}
                    </button>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
        <vdr-product-category-tree-node [categoryTree]="category"></vdr-product-category-tree-node>
    </div>
</div>
