<!--suppress ALL -->
<mj-section background-color="#568feb" padding-bottom="5px" padding-top="0">
    <mj-column width="100%">
        <mj-text align="center" color="#FFF" >
            <span style="font-size:15px">Footer text</span></mj-text>
    </mj-column>
</mj-section>
</mj-body>
</mjml>
