@import "variables";

:host {
    width: 340px;
    display: block;
    &.compact {
        width: 162px;
    }
}

.placeholder {
    text-align: center;
    color: $color-grey-300;
}

.featured-asset {
    text-align: center;
    background: $color-grey-200;
    padding: 6px;
    cursor: pointer;

    &.compact {
        width: 100%;
        min-height: 40px;
        padding: 0;
        position: relative;
        padding: 6px;
    }

    .compact-select {
        position: absolute;
        bottom: 6px;
        right: 6px;
        margin: 0;
    }
}

.all-assets {
    display: flex;
    flex-wrap: wrap;

    .asset-thumb {
        margin: 3px;
        padding: 0;
        border: 2px solid $color-grey-200;
        cursor: pointer;

        &.featured {
            border-color: $color-primary-500;
        }
    }

    .remove-asset {
        color: $color-warning-500;
    }

    &.compact {
        .asset-thumb {
            margin: 1px;
            border-width: 1px;
        }
    }
}

.cdk-drag-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    background-color: $color-grey-100;
    opacity: 0.9;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0.8;
    width: 60px;
    height: 50px;
    .asset-thumb {
        background-color: $color-grey-300;
        height: 100%;
        width: 54px;
    }
    img {
        display: none;
    }
}
.all-assets.compact .cdk-drag-placeholder {
    width: 50px;
    .asset-thumb {
        width: 50px;
    }
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.all-assets.cdk-drop-list-dragging vdr-dropdown:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
