<vdr-data-table [items]="products$ | async"
                [itemsPerPage]="itemsPerPage$ | async"
                [totalItems]="totalItems$ | async"
                [currentPage]="currentPage$ | async"
                (pageChange)="setPageNumber($event)"
                (itemsPerPageChange)="setItemsPerPage($event)">
    <vdr-dt-column>{{ 'catalog.ID' | translate }}</vdr-dt-column>
    <vdr-dt-column>{{ 'catalog.name' | translate }}</vdr-dt-column>
    <vdr-dt-column>{{ 'catalog.slug' | translate }}</vdr-dt-column>
    <vdr-dt-column>{{ 'catalog.description' | translate }}</vdr-dt-column>
    <vdr-dt-column></vdr-dt-column>
    <ng-template let-product="item">
        <td class="left">{{ product.id }}</td>
        <td class="left">{{ product.name }}</td>
        <td class="left">{{ product.slug }}</td>
        <td class="left">{{ product.description }}</td>
        <td class="right">
            <vdr-table-row-action iconShape="edit"
                                  [label]="'common.edit' | translate"
                                  [linkTo]="['./', product.id]">
            </vdr-table-row-action>
        </td>
    </ng-template>
</vdr-data-table>
