@import "variables";

.image-placeholder {
    width: 50px;
    height: 50px;
    background-color: $color-grey-200;
    .placeholder {
        text-align: center;
        color: $color-grey-300;
    }
}
.search-form {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 6px;
}
.search-input {
    min-width: 300px;
    @media screen and (max-width: $breakpoint-small){
        min-width: 100px;
    }
}
.search-settings-menu {
    margin: 0 12px;
}
td.disabled {
    background-color: $color-grey-200;
}
