<vdr-data-table [items]="products$ | async"
                [itemsPerPage]="itemsPerPage"
                [totalItems]="totalItems"
                [currentPage]="currentPage"
                (pageChange)="getPage($event)"
                (itemsPerPageChange)="itemsPerPageChange($event)">
    <vdr-dt-column>ID</vdr-dt-column>
    <vdr-dt-column>Name</vdr-dt-column>
    <vdr-dt-column>Slug</vdr-dt-column>
    <vdr-dt-column>Description</vdr-dt-column>
    <vdr-dt-column></vdr-dt-column>
    <ng-template let-product="item">
        <td class="left">{{ product.id }}</td>
        <td class="left">{{ product.name }}</td>
        <td class="left">{{ product.slug }}</td>
        <td class="left">{{ product.description }}</td>
        <td class="right">
            <vdr-table-row-action iconShape="edit"
                                  [linkTo]="['./', product.id]">
            </vdr-table-row-action>
        </td>
    </ng-template>
</vdr-data-table>
