<div class="card" *ngIf="operation">
    <div class="card-block">{{ interpolateDescription() }}</div>
    <div class="card-block" *ngIf="operation.args?.length">
        <form [formGroup]="form" *ngIf="operation" class="operation-inputs">
            <div *ngFor="let arg of operation.args" class="arg-row">
                <label>{{ arg.name | sentenceCase }}</label>
                <div *ngIf="arg.type === ConfigArgType.BOOLEAN" class="checkbox">
                    <input type="checkbox" [formControlName]="arg.name" [id]="arg.name" />
                    <label [for]="arg.name"></label>
                </div>
                <input
                    *ngIf="arg.type === ConfigArgType.INT"
                    [name]="arg.name"
                    type="number"
                    step="1"
                    [formControlName]="arg.name"
                />
                <input
                    *ngIf="arg.type === ConfigArgType.STRING"
                    [name]="arg.name"
                    type="text"
                    [formControlName]="arg.name"
                />
                <input
                    *ngIf="arg.type === ConfigArgType.DATETIME"
                    [name]="arg.name"
                    type="date"
                    [formControlName]="arg.name"
                />
                <vdr-currency-input
                    *ngIf="arg.type === ConfigArgType.MONEY"
                    [formControlName]="arg.name"
                    [currencyCode]="activeChannel?.currencyCode"
                ></vdr-currency-input>
                <vdr-percentage-suffix-input
                    *ngIf="arg.type === ConfigArgType.PERCENTAGE"
                    [formControlName]="arg.name"
                ></vdr-percentage-suffix-input>
                <vdr-facet-value-selector
                    [facets]="facets"
                    [formControlName]="arg.name"
                    *ngIf="arg.type === ConfigArgType.FACET_VALUE_IDS && facets"
                ></vdr-facet-value-selector>
                <select
                    clrSelect
                    [formControlName]="arg.name"
                    *ngIf="arg.type === ConfigArgType.STRING_OPERATOR"
                >
                    <option value="contains">contains</option>
                    <option value="doesNotContain">does not contain</option>
                    <option value="startsWith">starts with</option>
                    <option value="endsWith">ends with</option>
                </select>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <button class="btn btn-sm btn-link btn-warning" (click)="remove.emit(operation)">
            <clr-icon shape="times"></clr-icon>
            {{ 'common.remove' | translate }}
        </button>
    </div>
</div>
