:host {
    display: block;
    margin-bottom: 12px;

    >.card {
        margin-top: 6px;
    }
}

.operation-inputs {

    padding-top: 0;

    .arg-row:not(:last-child) {
        margin-bottom: 24px;
    }

    .arg-row {
        label {
            margin-right: 6px;
        }
    }

    .hidden {
        display: none;
    }
}
