<vdr-action-bar *ngIf="entity$ | async as order">
    <vdr-ab-left>
        <div class="clr-row clr-flex-column">
            <vdr-order-state-label [state]="order.state"></vdr-order-state-label>
            <div class="date-detail">
                {{ 'common.updated' | translate }}:
                <strong>{{ order.updatedAt | date: 'medium' }}</strong>
            </div>
        </div>
    </vdr-ab-left>

    <vdr-ab-right>
        <button
            class="btn btn-primary"
            (click)="fulfillOrder()"
            [disabled]="order.state !== 'PaymentSettled' && order.state !== 'PartiallyFulfilled'"
        >
            {{ 'order.fulfill-order' | translate }}
        </button>
    </vdr-ab-right>
</vdr-action-bar>

<div *ngIf="entity$ | async as order">
    <div class="clr-row">
        <div class="clr-col-lg-8">
            <table class="order-lines table">
                <thead>
                    <tr>
                        <th></th>
                        <th>{{ 'order.product-name' | translate }}</th>
                        <th>{{ 'order.product-sku' | translate }}</th>
                        <th>{{ 'order.unit-price' | translate }}</th>
                        <th>{{ 'order.quantity' | translate }}</th>
                        <th>{{ 'order.total' | translate }}</th>
                    </tr>
                </thead>
                <tr *ngFor="let line of order.lines" class="order-line">
                    <td class="align-middle thumb">
                        <img [src]="line.featuredAsset.preview + '?preset=tiny'" />
                    </td>
                    <td class="align-middle name">{{ line.productVariant.name }}</td>
                    <td class="align-middle sku">{{ line.productVariant.sku }}</td>
                    <td class="align-middle unit-price">
                        {{ line.unitPriceWithTax / 100 | currency: order.currencyCode }}
                    </td>
                    <td class="align-middle quantity">
                        <vdr-line-fulfillment [line]="line" [orderState]="order.state"></vdr-line-fulfillment>
                    </td>
                    <td class="align-middle total">
                        {{ line.totalPrice / 100 | currency: order.currencyCode }}
                    </td>
                </tr>
                <tr class="sub-total">
                    <td class="left">{{ 'order.sub-total' | translate }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ order.subTotal / 100 | currency: order.currencyCode }}</td>
                </tr>
                <tr class="order-ajustment" *ngFor="let adjustment of order.adjustments">
                    <td colspan="5" class="left">{{ adjustment.description }}</td>
                    <td>{{ adjustment.amount / 100 | currency: order.currencyCode }}</td>
                </tr>
                <tr class="shipping">
                    <td class="left">{{ 'order.shipping' | translate }}</td>
                    <td>{{ order.shippingMethod?.description }}</td>
                    <td colspan="3"></td>
                    <td>{{ order.shipping / 100 | currency: order.currencyCode }}</td>
                </tr>
                <tr class="total">
                    <td class="left">{{ 'order.total' | translate }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ order.total / 100 | currency: order.currencyCode }}</td>
                </tr>
            </table>
        </div>
        <div class="clr-col-lg-4 order-cards">
            <div class="card">
                <div class="card-header">
                    {{ 'order.customer' | translate }}
                </div>
                <div class="card-block">
                    <div class="card-text">
                        <vdr-customer-label [customer]="order.customer"></vdr-customer-label>
                        <h6 *ngIf="getShippingAddressLines(order.shippingAddress).length">
                            {{ 'order.shipping-address' | translate }}
                        </h6>
                        <vdr-formatted-address [address]="order.shippingAddress"></vdr-formatted-address>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="order.payments && order.payments.length">
                <div class="card" *ngFor="let payment of order.payments">
                    <div class="card-header">
                        {{ 'order.payment' | translate }}
                    </div>
                    <div class="card-block">
                        <vdr-labeled-data [label]="'order.payment-state' | translate">
                            {{ payment.state }}
                        </vdr-labeled-data>
                        <vdr-labeled-data [label]="'order.payment-method' | translate">
                            {{ payment.method }}
                        </vdr-labeled-data>
                        <vdr-labeled-data [label]="'order.amount' | translate">
                            {{ payment.amount / 100 | currency: order.currencyCode }}
                        </vdr-labeled-data>
                        <vdr-labeled-data [label]="'order.transaction-id' | translate">
                            {{ payment.transactionId }}
                        </vdr-labeled-data>
                        <vdr-labeled-data [label]="'order.payment-metadata' | translate">
                            <ul class="payment-metadata">
                                <li *ngFor="let entry of getPaymentMetadata(payment)">
                                    <span class="metadata-prop">{{ entry[0] }}:</span>
                                    {{ entry[1] }}
                                </li>
                            </ul>
                        </vdr-labeled-data>
                    </div>
                    <div class="card-footer">
                        <ng-container *ngIf="payment.state === 'Authorized'">
                            <button class="btn btn-sm btn-primary" (click)="settlePayment(payment)">
                                {{ 'order.settle-payment' | translate }}
                            </button>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="order.fulfillments && order.fulfillments.length">
                <div class="card">
                    <div class="card-header">
                        {{ 'order.fulfillment' | translate }}
                    </div>
                    <div class="card-block">
                        <div class="fulfillment-detail" *ngFor="let fulfillment of order.fulfillments">
                            <vdr-labeled-data [label]="'common.created-at' | translate">
                                {{ fulfillment.createdAt | date: 'medium' }}
                            </vdr-labeled-data>
                            <vdr-labeled-data [label]="'order.fulfillment-method' | translate">
                                {{ fulfillment.method }}
                            </vdr-labeled-data>
                            <vdr-labeled-data
                                *ngIf="fulfillment.trackingCode"
                                [label]="'order.tracking-code' | translate"
                            >
                                {{ fulfillment.trackingCode }}
                            </vdr-labeled-data>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
