@import "variables";

.order-lines {

    .sub-total td {
        border-top: 1px dashed $color-grey-3;
    }

    .total td {
        font-weight: bold;
        border-top: 1px dashed $color-grey-3;
    }
}
