@import "variables";

.date-detail {
    color: $color-grey-500;
    padding-left: 6px;
}

ul.payment-metadata {
   list-style-type: none;
}
.metadata-prop {
    color: $color-grey-500;
}

.shipping-address {
    list-style-type: none;
    line-height: 1.3em;
}

.order-lines {

    .sub-total td {
        border-top: 1px dashed $color-grey-300;
    }

    .total td {
        font-weight: bold;
        border-top: 1px dashed $color-grey-300;
    }
}

.order-cards {
    h6 {
        margin-top: 6px;
        color: $color-grey-500;
    }
}

.fulfillment-detail:not(:last-of-type) {
    border-bottom: 1px dashed $color-grey-300;
    margin-bottom: 12px;
}
