@import "variables";

:host {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.collection-wrapper {
    display: flex;
    height: 100%;

    vdr-collection-tree {
        flex: 1;
    }

    .collection-contents {

        height: 100%;
        width: 0;
        opacity: 0;
        visibility: hidden;
        overflow: auto;
        transition: width 0.3s, opacity 0.2s 0.3s, visibility 0s 0.3s;

        &.expanded {
            width: 30vw;
            visibility: visible;
            opacity: 1;
            padding-left: 12px;
        }

        .close-button {
            margin: 0;
            background: none;
            border: none;
            cursor: pointer;
        }
    }
}
