<table class="table">
    <tr>
        <th>{{ 'settings.section' | translate }}</th>
        <th>{{ 'settings.create' | translate }}</th>
        <th>{{ 'settings.read' | translate }}</th>
        <th>{{ 'settings.update' | translate }}</th>
        <th>{{ 'settings.delete' | translate }}</th>
    </tr>
    <tbody>
    <tr>
        <td>{{ 'settings.catalog' | translate }}</td>
        <td><vdr-select-toggle size="small"
                               [disabled]="readonly"
                               [selected]="permissions['CreateCatalog']"
                               (selectedChange)="setPermission('CreateCatalog', $event)"></vdr-select-toggle></td>
        <td><vdr-select-toggle size="small"
                               [disabled]="readonly"
                               [selected]="permissions['ReadCatalog']"
                               (selectedChange)="setPermission('ReadCatalog', $event)"></vdr-select-toggle></td>
        <td><vdr-select-toggle size="small"
                               [disabled]="readonly"
                               [selected]="permissions['UpdateCatalog']"
                               (selectedChange)="setPermission('UpdateCatalog', $event)"></vdr-select-toggle></td>
        <td><vdr-select-toggle size="small"
                               [disabled]="readonly"
                               [selected]="permissions['DeleteCatalog']"
                               (selectedChange)="setPermission('DeleteCatalog', $event)"></vdr-select-toggle></td>
    </tr>
    <tr>
        <td>{{ 'settings.customer' | translate }}</td>
        <td><vdr-select-toggle size="small"
                               [disabled]="readonly"
                               [selected]="permissions['CreateCustomer']"
                               (selectedChange)="setPermission('CreateCustomer', $event)"></vdr-select-toggle></td>
        <td><vdr-select-toggle size="small"
                               [disabled]="readonly"
                               [selected]="permissions['ReadCustomer']"
                               (selectedChange)="setPermission('ReadCustomer', $event)"></vdr-select-toggle></td>
        <td><vdr-select-toggle size="small"
                               [disabled]="readonly"
                               [selected]="permissions['UpdateCustomer']"
                               (selectedChange)="setPermission('UpdateCustomer', $event)"></vdr-select-toggle></td>
        <td><vdr-select-toggle size="small"
                               [disabled]="readonly"
                               [selected]="permissions['DeleteCustomer']"
                               (selectedChange)="setPermission('DeleteCustomer', $event)"></vdr-select-toggle></td>
    </tr>
    <tr>
        <td>{{ 'settings.order' | translate }}</td>
        <td><vdr-select-toggle size="small"
                               [disabled]="readonly"
                               [selected]="permissions['CreateOrder']"
                               (selectedChange)="setPermission('CreateOrder', $event)"></vdr-select-toggle></td>
        <td><vdr-select-toggle size="small"
                               [disabled]="readonly"
                               [selected]="permissions['ReadOrder']"
                               (selectedChange)="setPermission('ReadOrder', $event)"></vdr-select-toggle></td>
        <td><vdr-select-toggle size="small"
                               [disabled]="readonly"
                               [selected]="permissions['UpdateOrder']"
                               (selectedChange)="setPermission('UpdateOrder', $event)"></vdr-select-toggle></td>
        <td><vdr-select-toggle size="small"
                               [disabled]="readonly"
                               [selected]="permissions['DeleteOrder']"
                               (selectedChange)="setPermission('DeleteOrder', $event)"></vdr-select-toggle></td>
    </tr>
    <tr>
        <td>{{ 'settings.administrator' | translate }}</td>
        <td><vdr-select-toggle size="small"
                               [disabled]="readonly"
                               [selected]="permissions['CreateAdministrator']"
                               (selectedChange)="setPermission('CreateAdministrator', $event)"></vdr-select-toggle></td>
        <td><vdr-select-toggle size="small"
                               [disabled]="readonly"
                               [selected]="permissions['ReadAdministrator']"
                               (selectedChange)="setPermission('ReadAdministrator', $event)"></vdr-select-toggle></td>
        <td><vdr-select-toggle size="small"
                               [disabled]="readonly"
                               [selected]="permissions['UpdateAdministrator']"
                               (selectedChange)="setPermission('UpdateAdministrator', $event)"></vdr-select-toggle></td>
        <td><vdr-select-toggle size="small"
                               [disabled]="readonly"
                               [selected]="permissions['DeleteAdministrator']"
                               (selectedChange)="setPermission('DeleteAdministrator', $event)"></vdr-select-toggle></td>
    </tr>
    </tbody>
</table>
