<ng-template vdrDialogTitle>{{ 'order.settle-refund' | translate }}</ng-template>
<p class="instruction">
    {{ 'order.settle-refund-manual-instructions' | translate: { method: refund.method } }}
</p>
<clr-input-container>
    <label>{{ 'order.transaction-id' | translate }}</label>
    <input clrInput name="transactionId" [(ngModel)]="transactionId" />
</clr-input-container>

<ng-template vdrDialogButtons>
    <button type="button" class="btn" (click)="cancel()">{{ 'common.cancel' | translate }}</button>
    <button type="submit" (click)="submit()" [disabled]="!transactionId" class="btn btn-primary">
        {{ 'order.settle-refund' | translate }}
    </button>
</ng-template>
