@import "variables";
@import "mixins";

aside.book-toc nav {
    @include custom-scrollbar;
    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            margin: 1em 0;
        }

        a {
            display: block;
        }

        a:hover {
            opacity: .5;
        }
    }
    & > ul {
        & > li:first-child {
            & > a { display: none; }
        }
        & > li > a {
            font-weight: bold;
        }
        & > li > ul {
            padding-left: $padding-16;
            & > li > ul {
                padding-left: $padding-16;
                li {
                    // margin: 0.5em 0;
                    a {
                        color: lighten(desaturate($color-link, 70%), 15%);
                    }
                }
            }
        }
    }
}
