@import "variables";

:host {
    display: inline-block;
}

.facet-name {
    color: transparentize($color-grey-100, 0.5);
    text-transform: uppercase;
    font-size: 10px;
    margin-right: 3px;
    height: 11px;
}
