<vdr-labeled-data [label]="'order.payment-method' | translate">
    {{ payment.method }}
</vdr-labeled-data>
<vdr-labeled-data [label]="'order.amount' | translate">
    {{ payment.amount / 100 | currency: currencyCode }}
</vdr-labeled-data>
<vdr-labeled-data [label]="'order.transaction-id' | translate">
    {{ payment.transactionId }}
</vdr-labeled-data>
<vdr-labeled-data [label]="'order.payment-metadata' | translate">
    <vdr-object-tree [value]="payment.metadata"></vdr-object-tree>
</vdr-labeled-data>
