@import "variables";
@import "forms";

.main-container {
    background-color: $color-grey-100;
}

a:link, a:visited {
    color: $color-primary-600;
}

a:focus, button:focus {
    outline-color: $color-primary-400;
}

.flex {
    display: flex;
}

.flex-spacer {
    flex: 1;
}

.btn-link.btn-warning {
    color: $color-warning-500;

    &:hover {
        color: $color-warning-600;
    }
}

.table {
    border-color: $color-grey-200;

    td.align-middle {
        vertical-align: middle!important;
    }
}

.full-label, .compact-label {
    margin-left: 6px;
}
.full-label {
    display: none;
}
.compact-label {
    display: initial;
}
button.icon-button {
    border: none;
    background: none;
    cursor: pointer;
    color: $color-grey-500;
}
@media screen and (min-width: $breakpoint-small) {
    .full-label {
        display: initial;
    }
    .compact-label {
        display: none;
    }
}

table tr .dropdown-menu button.dropdown-item {
    line-height: 24px;

    &.delete-button {
        color: #e12200;
    }
}

.cdk-overlay-container {
    z-index: 1040;
}
