@import "variables";

.with-selected {
    display: flex;
    min-height: 52px;
    align-items: center;
    border: 1px solid $color-grey-200;
    border-radius: 3px;
    padding: 6px 18px;

    vdr-select-toggle {
        margin-right: 12px;
    }

    > label {
        margin-right: 12px;
    }
}

.variant-container {
    .header-row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .variant-body {
        display: flex;
    }

    .details {
        display: flex;
        height: 36px;
        // margin-left: 12px;
        > div {
            margin-right: 12px;
        }

        .name, .sku {
            font-weight: bold;
        }

        ::ng-deep .name input {
           min-width: 300px;
        }
    }

    .variant-form-input-row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 6px 24px 24px;

        > * {
            margin-right: 12px;
        }
    }

    .flex-spacer {
        flex: 1;
    }

    .clr-form-control {
        margin-top: 0;
    }

    .facets {
        display: flex;
        align-items: center;
    }

    .pricing {
        display: flex;
        > div {
            margin-right: 12px;
        }
    }

    .options-facets {
        display: flex;
    }
}

@media screen and (max-width: $breakpoint-small){
    .details {
        flex-direction: column;
        ::ng-deep .clr-control-container, ::ng-deep input {
            width: 100%
        }
    }
}
