<div class="with-selected">
    <ng-container *ngIf="selectedVariantIds.length">
        <label>{{ 'catalog.with-selected' | translate }}:</label><ng-content></ng-content>
    </ng-container>
</div>
<table class="variants-list table">
    <thead>
    <tr>
        <th>
            <vdr-select-toggle size="small"
                               [selected]="areAllSelected()"
                               (selectedChange)="toggleSelectAll()"></vdr-select-toggle>
        </th>
        <th>{{ 'catalog.sku' | translate }}</th>
        <th>{{ 'catalog.name' | translate }}</th>
        <th>{{ 'catalog.facets' | translate }}</th>
        <th>{{ 'catalog.options' | translate }}</th>
        <th>{{ 'catalog.price' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr class="variant"
        *ngFor="let variant of variants; let i = index">
        <td>
            <vdr-select-toggle size="small"
                               [selected]="isVariantSelected(variant.id)"
                               (selectedChange)="toggleSelectVariant(variant.id)"></vdr-select-toggle>
        </td>
        <td>
            <input type="text" [formControl]="formArray.get([i, 'sku'])">
        </td>
        <td>
            <input type="text" [formControl]="formArray.get([i, 'name'])">
        </td>
        <td>
            <vdr-chip *ngFor="let facetValue of variant.facetValues">{{ facetValue.name }}</vdr-chip>
        </td>
        <td>
            <vdr-chip *ngFor="let option of variant.options">{{ option.name }}</vdr-chip>
        </td>
        <td>
            <vdr-currency-input [formControl]="formArray.get([i, 'price'])"></vdr-currency-input>
        </td>
    </tr>
    </tbody>
</table>
