.summary {
    display: flex;
}

.image-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 12px;
    margin-right: 6px;
    background-color: var(--color-weight-100);
    border-radius: var(--border-radius);
    img {
        border-radius: var(--border-radius);
    }
}

