@import "variables";

thead th {
    position: sticky;
    top: 24px;
    z-index: 1;

    &.expand {
        width: 100%;
    }
}

.table-footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.empty-state {
    text-align: center;
    padding: 60px;
    color: $color-grey-4;

    .empty-label {
        margin-top: 12px;
        font-size: 22px;
    }
}
