<table class="table">
    <thead>
    <tr>
        <th *ngFor="let header of columns?.toArray()" class="left">
            <ng-container *ngTemplateOutlet="header.template"></ng-container>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items | paginate:{ itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }">
        <ng-container *ngTemplateOutlet="rowTemplate; context: { item: item }"></ng-container>
    </tr>
    </tbody>
</table>
<div class="table-footer">
    <vdr-items-per-page-controls [itemsPerPage]="itemsPerPage"
                                 (itemsPerPageChange)="itemsPerPageChange.emit($event)"></vdr-items-per-page-controls>

    <vdr-pagination-controls [currentPage]="currentPage"
                             [itemsPerPage]="itemsPerPage"
                             [totalItems]="totalItems"
                             (pageChange)="pageChange.emit($event)"></vdr-pagination-controls>

</div>
