/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "~@ng-select/ng-select/themes/default.theme.css";

a:link, a:visited {
    color: darken($color-brand, 20%);
}

.btn-link.btn-warning {
    color: $color-warning;

    &:hover {
        color: darken($color-warning, 20%);
    }
}

.clr-form-control {
    margin-top: 0;
}
