@import "variables";

:host {
    width: 340px;
    display: block;
    &.compact {
        width: 162px;
    }
}

.placeholder {
    text-align: center;
    color: $color-grey-300;
}

.featured-asset {
    text-align: center;
    background: $color-grey-200;
    padding: 6px;

    &.compact {
        width: 100%;
        min-height: 40px;
        padding: 0;
        position: relative;
    }

    .compact-select {
        position: absolute;
        bottom: 6px;
        right: 6px;
        margin: 0;
    }
}

.all-assets {
    display: flex;
    flex-wrap: wrap;

    .asset-thumb {
        margin: 3px;
        padding: 0;
        border: 2px solid $color-grey-200;
        cursor: pointer;

        &.featured {
            border-color: $color-primary-500;
        }
    }

    .remove-asset {
        color: $color-warning-500;
    }

    &.compact {
        .asset-thumb {
            margin: 1px;
            border-width: 1px;
        }
    }
}
