:root {
    --color-primary-100: hsl(36 100% 95%);
       --color-primary-125: hsl(36 100% 93%);
       --color-primary-150: hsl(36 100% 90%);
       --color-primary-200: hsl(36 100% 85%);
       --color-primary-300: hsl(36 100% 75%);
       --color-primary-400: hsl(36 100% 65%);
       --color-primary-500: hsl(36 100% 55%);
       --color-primary-600: hsl(36 100% 45%);
       --color-primary-700: hsl(36 100% 35%);
       --color-primary-800: hsl(36 100% 25%);
       --color-primary-900: hsl(36 100% 15%);
       --color-primary-950: hsl(36 100% 10%);
       --color-primary-975: hsl(36 100% 7%);
       --color-primary-1000: hsl(36 100 5%);
}

