@import "variables";

.input-wrapper {
    background-color: white;
    border-radius: 3px !important;
    border: 1px solid $color-grey-300 !important;
    cursor: text;

    &.focus {
        border-color: $color-primary-500 !important;
        box-shadow: 0 0 1px 1px $color-primary-100;
    }

    .chips {
        padding: 5px;
    }

    textarea {
        border: none;
        width: 100%;
        height: 24px;
        margin-top: 3px;
        padding: 0 6px;
        &:focus {
            outline: none;
        }
        &:disabled {
            background-color: $color-grey-100;
        }
    }
}

vdr-chip {
    ::ng-deep .wrapper {
        margin: 0 3px;
    }
    &.locked {
        opacity: 0.8;
    }
    &.selected {
        ::ng-deep .wrapper {
            border-color: $color-warning-500 !important;
            box-shadow: 0 0 1px 1px $color-warning-400;
            opacity: 0.6;
        }
    }
}
