<vdr-action-bar>
    <vdr-ab-left>
        <clr-dropdown>
            <button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
                <clr-icon shape="world"></clr-icon>
                {{ 'common.language' | translate }}: {{ languageCode$ | async | uppercase }}
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
                <button type="button"
                        *ngFor="let code of availableLanguages$ | async"
                        (click)="setLanguage(code)"
                        clrDropdownItem>{{ code }}</button>
            </clr-dropdown-menu>
        </clr-dropdown>
    </vdr-ab-left>


    <vdr-ab-right>
        <button class="btn btn-primary"
                *ngIf="isNew$ | async; else updateButton"
                (click)="create()"
                [disabled]="facetForm.invalid || facetForm.pristine">{{ 'common.create' | translate }}</button>
        <ng-template #updateButton>
            <button class="btn btn-primary"
                    (click)="save()"
                    [disabled]="facetForm.invalid || facetForm.pristine">{{ 'common.update' | translate }}</button>
        </ng-template>
    </vdr-ab-right>
</vdr-action-bar>

<form class="form" [formGroup]="facetForm" >
    <section class="form-block" formGroupName="facet">
        <label>{{ 'catalog.facet' | translate }}</label>
        <vdr-form-field [label]="'catalog.name' | translate" for="name">
            <input id="name" type="text" formControlName="name" (input)="updateCode($event.target.value)">
        </vdr-form-field>
        <vdr-form-field [label]="'catalog.code' | translate" for="code" [readOnlyToggle]="true">
            <input id="code" type="text" formControlName="code">
        </vdr-form-field>

        <section formGroupName="customFields" *ngIf="customFields.length">
            <label>{{ 'catalog.custom-fields' }}</label>
            <ng-container *ngFor="let customField of customFields">
                <vdr-custom-field-control *ngIf="customFieldIsSet(customField.name)"
                                          [customFieldsFormGroup]="facetForm.get(['facet', 'customFields'])"
                                          [customField]="customField"></vdr-custom-field-control>
            </ng-container>
        </section>
    </section>

    <section class="form-block" *ngIf="!(isNew$ | async)">

        <label>{{ 'catalog.facet-values' | translate }}</label>

        <table class="facet-values-list table" formArrayName="values" *ngIf="0 < getValuesFormArray().length">
            <thead>
            <tr>
                <th>{{ 'catalog.name' | translate }}</th>
                <th>{{ 'catalog.code' | translate }}</th>
            </tr>
            </thead>
            <tbody>
            <tr class="variant"
                *ngFor="let value of getValuesFormArray().controls; let i = index"
                [formGroupName]="i">
                <td>
                    <input type="text" formControlName="name" (input)="updateValueCode($event.target.value, i)">
                </td>
                <td>
                    <input type="text" formControlName="code" readonly>
                </td>
            </tr>
            </tbody>
        </table>

        <div>
            <button type="button"
                    class="btn btn-primary"
                    (click)="addFacetValue()">
                <clr-icon shape="add"></clr-icon>
                {{ 'catalog.add-facet-value' | translate }}
            </button>
        </div>

    </section>
</form>
