<div class="main-container">
    <!--<div class="alert alert-app-level">
        ALERT
    </div>-->
    <header class="header header-6">
        <div class="branding">
            <a [routerLink]="['/']">
                <img src="/assets/cube-logo-75px.png" class="logo">
            </a>
        </div>
        <div class="header-nav">
            <a href="javascript://" class="active nav-link nav-text">Dashboard</a>
            <a href="javascript://" class="nav-link nav-text">Orders</a>
            <a href="javascript://" class="nav-link nav-text">Inventory</a>
            <a href="javascript://" class="nav-link nav-text">Users</a>
        </div>
        <div class="header-actions">
            <vdr-user-menu [userName]="userName$ | async"
                           (logOut)="logOut()"></vdr-user-menu>
        </div>
    </header>

    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
