@import "variables";

:host {
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
    height: 2.5rem;
}

.active-channel {
    color: $color-grey-200;

    clr-icon {
        color: white;
    }
}
