<vdr-dropdown>
    <button type="button" class="btn btn-primary" vdrDropdownTrigger>
        <clr-icon shape="add"></clr-icon>
        {{ 'catalog.generate-product-variants' | translate }}
        <clr-icon shape="caret down"></clr-icon>
    </button>
    <vdr-dropdown-menu vdrPosition="bottom-right">
        <button type="button" vdrDropdownItem (click)="generateProductVariants()">
            {{ 'catalog.generate-variants-default-only' | translate }}
        </button>
        <button type="button" vdrDropdownItem (click)="startProductVariantsWizard()">
            {{ 'catalog.generate-variants-with-options' | translate }}
        </button>
    </vdr-dropdown-menu>
</vdr-dropdown>

<vdr-product-variants-wizard #productVariantsWizard [product]="product"></vdr-product-variants-wizard>
