@import "variables";

:host {
    height: 100%;
    display: flex;
    min-height: 64vh;
}
.fulfillment-wrapper {
    flex: 1;
    @media screen and (min-width: $breakpoint-small) {
        display: flex;
        flex-direction: row;
    }

    .refund-details {
        @media screen and (min-width: $breakpoint-small) {
            margin-top: 0;
            margin-left: 24px;
            width: 250px;
        }
        clr-select-container {
            margin: 12px 0;
        }
    }
    .order-lines {
        flex: 1;
        overflow-y: auto;
        table {
            margin-top: 0;
        }
    }
    tr.ignore {
        color: $color-grey-300;
    }
}
.cancel-checkbox-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
clr-checkbox-wrapper {
    margin-top: 12px;
    margin-bottom: 12px;
    display: block;
}
.totals {
    margin-top: 48px;
    .refund-total {
        font-size: 18px;
    }
    .refund-total-error {
        color: $color-error-500;
    }
}
