@import "variables";

:host {
    position: fixed;
    bottom: 12px;
    left: 12px;
    z-index: 5;
}

.job-button {
    background-color: $color-grey-200;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
    &.hidden {
        display: none;
    }
}

.job-row {
    padding: 0 60px 0 12px;
    width: 90vw;
    max-width: 360px;
    @media screen and (min-width: $breakpoint-small){
        max-width: 400px;
    }
}
