<vdr-dropdown *ngIf="(activeJobs$ | async) as jobs">
    <button
        type="button"
        class="btn btn-link btn-sm job-button"
        [class.hidden]="jobs.length === 0"
        vdrDropdownTrigger
    >
        <clr-icon shape="hourglass" class="has-badge"></clr-icon>
        {{ 'common.jobs-in-progress' | translate: { count: jobs.length } }}
    </button>
    <vdr-dropdown-menu vdrPosition="top-right">
        <div *ngFor="let job of (activeJobs$ | async); trackBy: trackById" class="job-row">
            {{ getJobName(job) | translate }}
            <div class="progress labeled">
                <progress max="100" [value]="job.progress" data-displayval="0%"></progress>
                <span>{{ job.progress }}%</span>
            </div>
        </div>
    </vdr-dropdown-menu>
</vdr-dropdown>
