<div class="card">
    <div class="card-header payment-header">
        <div>{{ 'order.payment' | translate }}</div>
        <div class="payment-state">
            <vdr-payment-state-label [state]="payment.state"></vdr-payment-state-label>
        </div>
    </div>
    <div class="card-block">
        <vdr-labeled-data [label]="'order.payment-method' | translate">
            {{ payment.method }}
        </vdr-labeled-data>
        <vdr-labeled-data [label]="'order.amount' | translate">
            {{ payment.amount / 100 | currency: currencyCode }}
        </vdr-labeled-data>
        <vdr-labeled-data [label]="'order.transaction-id' | translate">
            {{ payment.transactionId }}
        </vdr-labeled-data>
        <vdr-labeled-data [label]="'order.payment-metadata' | translate">
            <ul class="payment-metadata">
                <li *ngFor="let entry of getPaymentMetadata(payment)">
                    <span class="metadata-prop">{{ entry[0] }}:</span>
                    {{ entry[1] }}
                </li>
            </ul>
        </vdr-labeled-data>
    </div>
    <ng-container *ngFor="let refund of payment.refunds">
        <div class="card-header">{{ 'order.refund' | translate }} #{{ refund.id }}</div>
        <div class="card-block">
            <vdr-labeled-data [label]="'common.created-at' | translate">
                {{ refund.createdAt | date: 'medium' }}
            </vdr-labeled-data>
            <vdr-labeled-data [label]="'order.refund-total' | translate">
                {{ refund.total / 100 | currency: currencyCode }}
            </vdr-labeled-data>
        </div>
    </ng-container>
    <div class="card-footer">
        <ng-container *ngIf="payment.state === 'Authorized'">
            <button class="btn btn-sm btn-primary" (click)="settlePayment.emit(payment)">
                {{ 'order.settle-payment' | translate }}
            </button>
        </ng-container>
    </div>
</div>
