@import "variables";

:host {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.title-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

vdr-asset-gallery {
    flex: 1;
}

.paging-controls {
    padding-top: 6px;
    border-top: 1px solid $color-grey-200;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}
