@import "variables";

.filter-input {
    width: 100%;
}

.group-list {
    margin-top: 24px;
    height: 400px;
    max-height: 60vh;
    overflow: auto;
}

vdr-select-toggle {
    margin-right: 12px;
}

.group {
    display: flex;
    padding: 6px 12px;
    border-bottom: 1px solid $color-grey-2;

    .name-code {
        flex: 1;
    }

    .code {
        color: $color-grey-4;
    }

    .options {
        text-align: right;
    }
}

.selected-groups {
    padding: 12px;
}

.full-options-list {
    text-align: left;
}
