@import "variables";

:host {
    height: 100%;
    display: flex;
    min-height: 64vh;
}
.fulfillment-wrapper {
    flex: 1;
    @media screen and (min-width: $breakpoint-small) {
        display: flex;
        flex-direction: row;
    }

    .shipping-details {
        margin-top: 24px;
        @media screen and (min-width: $breakpoint-small) {
            margin-top: 0;
            margin-left: 24px;
            width: 250px;
        }
        clr-input-container {
            margin-top: 24px;
        }
    }
    .order-lines {
        flex: 1;
        overflow-y: auto;
        table {
            margin-top: 0;
        }
    }
    tr.ignore {
        color: $color-grey-300;
    }
}
