@import "variables";

:host {
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
    height: 2.5rem;
}

.user-name {
    color: $color-grey-200;
    margin-right: 12px;
}

.trigger clr-icon {
    color: white;
}
.btn.btn-outline:hover {
    background-color: #e1f1f62e;
}

