<vdr-action-bar>
    <vdr-ab-right>
        <a class="btn btn-primary" [routerLink]="['./create']">
            <clr-icon shape="plus"></clr-icon>
            {{ 'catalog.create-new-facet' | translate }}
        </a>
    </vdr-ab-right>
</vdr-action-bar>

<vdr-data-table [items]="facets$ | async"
                [itemsPerPage]="itemsPerPage$ | async"
                [totalItems]="totalItems$ | async"
                [currentPage]="currentPage$ | async"
                (pageChange)="setPageNumber($event)"
                (itemsPerPageChange)="setItemsPerPage($event)">
    <vdr-dt-column>{{ 'catalog.ID' | translate }}</vdr-dt-column>
    <vdr-dt-column>{{ 'catalog.code' | translate }}</vdr-dt-column>
    <vdr-dt-column>{{ 'catalog.name' | translate }}</vdr-dt-column>
    <vdr-dt-column></vdr-dt-column>
    <ng-template let-facet="item">
        <td class="left">{{ facet.id }}</td>
        <td class="left">{{ facet.code }}</td>
        <td class="left">{{ facet.name }}</td>
        <td class="right">
            <vdr-table-row-action iconShape="edit"
                                  [label]="'common.edit' | translate"
                                  [linkTo]="['./', facet.id]">
            </vdr-table-row-action>
        </td>
    </ng-template>
</vdr-data-table>
