@import "variables";

:host {
    display: inline-block;
}

.wrapper {
    display: flex;
    border: 1px solid $color-grey-4;
    border-radius: 3px;
    margin: 6px;
    &.with-background {
        color: $color-grey-1;
        border-color: transparent;
    }
}

.chip-label {
    padding: 3px 6px;
    line-height: 1em;
}

.chip-icon {
    border-left: 1px solid transparentize($color-grey-1, 0.5);
    padding: 0 3px;
    line-height: 1em;
    display: flex;

    button {
        cursor: pointer;
        background: none;
        margin: 0;
        padding: 0;
        border: none;
    }
}
