name: Build & Test
on:
    workflow_dispatch:
    push:
        branches:
            - master
            - minor
            - major
        paths:
            - 'packages/**'
            - 'package.json'
            - 'package-lock.json'
    pull_request:
        branches:
            - master
            - major
            - minor
        paths:
            - 'packages/**'
            - 'package.json'
            - 'package-lock.json'

env:
    CI: true

concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

jobs:
    codegen:
        uses: ./.github/workflows/codegen.yml
    build:
        name: build
        runs-on: ubuntu-latest
        permissions:
            contents: read
        strategy:
            matrix:
                node: [20.x, 22.x, 24.x]
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0
            - name: Fetch base branch
              if: github.event_name == 'pull_request'
              run: git fetch origin ${{ github.base_ref }}
            - name: Use Node.js ${{ matrix.node }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node }}
            - name: npm install
              run: |
                  npm install
                  npm install --os=linux --cpu=x64 sharp
            - name: Build
              run: |
                  if [ "${{ github.event_name }}" == "pull_request" ]; then
                    npx lerna run build --since=origin/${{ github.base_ref }}
                  else
                    npm run build
                  fi
    unit-tests:
        name: unit tests
        runs-on: ubuntu-latest
        permissions:
            contents: read
        strategy:
            matrix:
                node: [20.x, 22.x, 24.x]
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0
            - name: Fetch base branch
              if: github.event_name == 'pull_request'
              run: git fetch origin ${{ github.base_ref }}
            - name: Use Node.js ${{ matrix.node }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node }}
            - name: npm install
              run: |
                  npm install
                  npm install --os=linux --cpu=x64 sharp
            - name: Build
              run: |
                  if [ "${{ github.event_name }}" == "pull_request" ]; then
                    npx lerna run ci --since=origin/${{ github.base_ref }}
                  else
                    npx lerna run ci
                  fi
            - name: Unit tests
              run: |
                  if [ "${{ github.event_name }}" == "pull_request" ]; then
                    npx lerna run test --stream --no-bail --since=origin/${{ github.base_ref }}
                  else
                    npm run test
                  fi
    e2e-tests-sqljs:
        name: e2e tests (sqljs)
        strategy:
            fail-fast: false
            matrix:
                node: [20.x, 22.x, 24.x]
        uses: ./.github/workflows/e2e-test-db.yml
        with:
            db-type: sqljs
            node-version: ${{ matrix.node }}
    e2e-tests-postgres:
        name: e2e tests (postgres)
        strategy:
            fail-fast: false
            matrix:
                node: [20.x, 22.x, 24.x]
        uses: ./.github/workflows/e2e-test-db.yml
        with:
            db-type: postgres
            node-version: ${{ matrix.node }}
    e2e-tests-mysql:
        name: e2e tests (mysql)
        strategy:
            fail-fast: false
            matrix:
                node: [20.x, 22.x, 24.x]
        uses: ./.github/workflows/e2e-test-db.yml
        with:
            db-type: mysql
            node-version: ${{ matrix.node }}
    e2e-tests-mariadb:
        name: e2e tests (mariadb)
        strategy:
            fail-fast: false
            matrix:
                node: [20.x, 22.x, 24.x]
        uses: ./.github/workflows/e2e-test-db.yml
        with:
            db-type: mariadb
            node-version: ${{ matrix.node }}
