name: Codegen

env:
    CI: true

jobs:
    codegen:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Use Node.js 22
              uses: actions/setup-node@v4
              with:
                  node-version: 22
            - name: Install dependencies
              run: npm install
            - name: Build core and common packages
              run: npm run build:core-common
            - name: Generate GraphQL types
              run: npm run codegen
